.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 150px;
    border-radius: 150px;
}


.contact {
    padding-left: 15px;
}

.formSummaryError {
    padding: 5px;
    color: gold;
}