.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages {
    padding: 10px;

}

.messages .message {
    color: white;
}

.dialogsItems .dialog {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;
}



